body {
  margin: 0;
  font-family: "Proxima Nova", Arial;
}
#container {
  background: #fff6ec;
  margin: 0 auto;
  padding: 0 0 350px 0;
  width: 1140px;
}

#main {
  /*padding: 0 70px;*/
  padding-top: 70px;
}



a, a:visited, a:active {
  color: inherit;
}