#main-nav {
  position: fixed;
  background-color: #913f3f;
  font-family: 'Proxima N W01 Cd Smbd', Arial;
  /*font-weight: 600;*/
  font-size: 18px;
  height: 60px;
  width: 1140px;
  padding: 15px 0 0 0;
}
#main-nav img {
  float: left;
  margin-left: 70px;
  width: 85px;
}
#main-nav .links {
  margin: 0;
  margin-left: 180px;
  overflow: hidden;
}
#main-nav .links a {
  color: #fff6ec;
  text-transform: uppercase;
  display: block;
  float: left;
  margin: 18px 15px 25px 10px;
  text-decoration: none;
}
#main-nav .links a:hover {
  text-decoration: underline;
  cursor: pointer;
}
#main-nav .links .register {
  background: #fff6ec;
  color: #913f3f;
  border-radius: 5px;
  padding: 12px 10px 8px;
  margin-top: 6px;
  margin-left: 40px;
}